* {
margin: 0;
padding: 0;
border: 0;

text-decoration: none;
outline: 0;
}
body {
margin: 0;
padding: 0;
border: 0;

text-decoration: none;
outline: 0;
}


/*





    font-family: 'Playfair Display SC', serif;

    font-family: 'Merriweather', serif;

    font-family: 'PT Serif', serif;

    font-family: 'Oxygen', sans-serif;

    font-family: 'Fira Sans Condensed', sans-serif;

    font-family: 'Chivo', sans-serif;









*/




.container
{
    display:flex;
    flex-direction: column;
    justify-content:center;

    align-items: center;
    /*border:solid black;*/
   
    
       
}









/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/




content
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    height: 480px;
    width:70%;
    max-width: 960px; 
    
    
}

.content-left-kontakt-box
{
    
  width:50%;
  align-self: center;
  font-family:Playfair Display SC;
  text-align: right;
    font-size: 16px;
    
}

.content-right-form-box
{
  width:50%;   
  
  align-self: center;  
}


































































/* ----------------------------------------*/
/* --------------------------------------------------------------------------*/
/* --------------RESPONSIVE -------------------------------------------------*/
/* --------------------------------------------------------------------------*/
/* ----------------------------------------*/














@media all and (max-width:538px)
{



/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/




content
{
   
    
    /*border:solid red;*/
    
}
    
   
 
    
    
    
    
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

















}






@media all and (max-width:768px)
{
  

    
/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/ 
    
    
    
  content
{
   
    width: 99%;
    flex-direction: column;
    justify-content: flex-start
    /*border:solid red;*/
    
}  
    
    
 /* ----------------------------------------------------*/    
  /* --------------CONTENT KONTAKT ---------------------*/
/* ----------------------------------------------------*/   
    
    
 .content-left-kontakt-box
    
{
   
  order: 1;      
  width: 99%; 
  text-align: center;
  padding-left: 10px;
    font-size:14px;
}
    
    
.content-right-form-box
{
        
  order: 2;      
   width: 99%;     
        
}
    
    
    
    
    
    
    

    

}































