* {
margin: 0;
padding: 0;
border: 0;

text-decoration: none;
outline: 0;
}
body {
margin: 0;
padding: 0;
border: 0;

text-decoration: none;
outline: 0;
}


/*





    font-family: 'Playfair Display SC', serif;

    font-family: 'Merriweather', serif;

    font-family: 'PT Serif', serif;

    font-family: 'Oxygen', sans-serif;

    font-family: 'Fira Sans Condensed', sans-serif;

    font-family: 'Chivo', sans-serif;









*/




.container
{
    display:flex;
    flex-direction: column;
    justify-content:center;

    align-items: center;
    /*border:solid black;*/
   
    
       
}

/* ------------------------------------*/
/* ------------------------------------*/
/* --------------HEADER -------------------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/


/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/




content
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    height: 480px;
    width:70%;
    max-width: 960px; 
    
    
}

.content-box
{
    
    width:100%;
     overflow: hidden;  
    
}

.content-box img
{
    
    width:100%;
    max-width: 642px;
    
}




































/* ----------------------------------------*/
/* --------------------------------------------------------------------------*/
/* --------------RESPONSIVE -------------------------------------------------*/
/* --------------------------------------------------------------------------*/
/* ----------------------------------------*/














@media all and (max-width:538px)
{



/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/




    
    
 
.content-box
{
  
 display: flex;
    justify-content: center;
    width:100%;
    margin-left: -15px;
    overflow: hidden;
    
}    
    
    


   



}






@media all and (max-width:768px)
{
  
  
    
/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/ 
    
    
    
  content
{
   
    width: 99%;
    padding-left:10px;
    overflow: hidden;
    /*border:solid red;*/
    
}  
    
    
    

  
    
    
    
    
    

































