* {
margin: 0;
padding: 0;
border: 0;

text-decoration: none;
outline: 0;
}
body {
margin: 0;
padding: 0;
border: 0;

text-decoration: none;
outline: 0;
}


/*





    font-family: 'Playfair Display SC', serif;

    font-family: 'Merriweather', serif;

    font-family: 'PT Serif', serif;

    font-family: 'Oxygen', sans-serif;

    font-family: 'Fira Sans Condensed', sans-serif;

    font-family: 'Chivo', sans-serif;









*/




.container
{
    display:flex;
    flex-direction: column;
    justify-content:center;

    align-items: center;
    /*border:solid black;*/
   
    
       
}

/* ------------------------------------*/
/* ------------------------------------*/
/* --------------HEADER -------------------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/

header
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width:70%;
    max-width: 960px;
    /*border:solid blue;*/
    margin-top: 20px;
   
    
}

.header-logo
{
    font-family:Playfair Display SC;
   display: flex;
   align-items: center;
   height: 50px; 
   width: 70%;
}



/* -----------------MENU --------------*/
/* ------------------------------------*/

.header-menu
{
   display: flex; 
   /*border:solid yellow;*/
   width: 80%;
   height: 50px; 
    
}
.header-menu ul
{
    font-family:Playfair Display SC;
    list-style: none;
    display: flex;
    align-self: center;
    justify-content:space-around;
    flex: 1;
}

li a
{
    text-decoration: none;
    color:black;
    
    
    
}

/* -----------------MENU-RESPONSIVE-VISIBLE --------------*/
/* ------------------------------------*/

.header-menu-resposive
{
   display:none; 
    
}









/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/




content
{
    display:flex;
    flex-direction: row; 
    margin-top: 30px;
    height: 480px;
    width:70%;
    max-width: 960px;
    
    /*border:solid red;*/
    
}

.content-left
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:70%;  
  /*border:solid pink; */
    
    
    
    
    
}


/* --------------CONTENT-LEFT-TITLE ---------------*/
/* ------------------------------------------------*/

.content-left-title
{
   z-index: 99;
   display: flex;
   align-self: flex-start;
   position: relative;
   top:10px;
   left: 10px;
   
   
 
    
    
  
}

.content-left-title-box
{
    
   font-size: 59px;
   
   background-color:#fff;
   
   padding-right: 20px;
   font-family:Playfair Display SC;
    
}


/* --------------CONTENT-LEFT-PHOTO ---------------*/
/* ------------------------------------------------*/


.content-left-photo img
{
   margin-top:-88px;
   display: flex;
   justify-content: center;
   
  
 
    
}



/* --------------CONTENT-RIGHT --------------------*/
/* ------------------------------------------------*/


.content-right
{
   display: flex;
   justify-content: flex-start;
   align-items:flex-end;
   width:30%;  
 /* border:solid brown;*/ 


}


/* --------------CONTENT-RIGHT-TEXT-BOX ---------------*/
/* ----------------------------------------------------*/


.content-right-text-box
{
    
 display: flex;
 position: relative;
 
 left:-80px;
 bottom:30px;
 width:287px;
 min-width: 287px;
 height: 250px;
 min-height: 250px;
 background-color:#FFBB00;
 box-sizing: border-box;
 padding: 10px;

    
}


.text-box
{
    display: flex;
    align-items: center;
    font-family:Merriweather; 
    font-size: 14px;
    
}



/* ------------------------------------*/
/* ------------------------------------*/
/* --------------FOOTER ------------------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/

footer
{
    display:flex;
    flex-direction: row;  
    height: 50px;
    width:70%;
    max-width: 960px;
    font-size:10px;
    /*border:solid green;*/
    
}

.footer-left
{
  display:flex; 
  width:80%; 
}



.footer-right
{
  align-self:center;
  justify-content: flex-end;
  width: 350px;
  text-align: right;
  display:flex;  
}



















/* ----------------------------------------*/
/* ----------------------------------------*/
/* --------------RESPONSIVE ----------------------------------------*/
/* ----------------------------------------*/
/* ----------------------------------------*/




@media all and (max-width:538px)
{


    
 .visibility
  {
    opacity: 1;
      
      
    }
 
    
    
    
   .header-menu-resposive
{
    z-index: 102;
   opacity: 0;
    display: flex;
    position: absolute;
    top:0;
    background-color: black;
    width: 100%;
    height: 100%;
    
}
    
   .header-menu-responsive-visible li a
    {
        
        color:white;
    }
    
    
    
    .header-menu-responsive-visible ul
    
{
 z-index: 103;
 list-style: none;
 position: absolute;
 top:40%;
 left:10px;
 font-size: 22px;
 font-family:Playfair Display SC;
 color:white;   
    
    
    
    
    
    
}
    
    .header-logo-responsive
    {
        padding-left: 10px;
        margin-top: 10px;
       color: white; 
       font-family:Playfair Display SC; 
    }
 
    
    
    
    
    

    
    
    

/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/




content
{
    display:flex;
    flex-direction:column;
    margin-top: -3000px;
    height: 480px;
    width:100%;
    max-width: 960px;
    
    /*border:solid red;*/
    
}
    
    
    
    .content-left
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:70%;  
  /*border:solid pink; */
    
    
    
    
    
}
    
    
    
    
    
    /* --------------CONTENT-LEFT-TITLE ---------------*/
/* ------------------------------------------------*/



.content-left-title-box
{
    
   font-size: 12vw;
   text-align:center;
   background-color:#fff;
   padding: 0px;
   margin-top: -50px;
    padding-right:20px;
  
    
}
    
    
    /* --------------CONTENT-LEFT-PHOTO ---------------*/
/* ------------------------------------------------*/


.content-left-photo 
{
   margin-top:110px;
   margin-left: -50px;
   
  
     
    
}
    

/* --------------CONTENT-RIGHT-TEXT-BOX ---------------*/
/* ----------------------------------------------------*/


.content-right-text-box
{
    
  margin-top: 150px;
    margin-left: -100px;
}



/* ------------------------------------*/
/* ------------------------------------*/
/* --------------FOOTER ------------------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/

footer
{
    display:flex;
    flex-direction: row;  
    height: 50px;
    width:90%;
    margin-top: 20px;
    max-width: 960px;
    font-size:10px;
    /*border:solid green;*/
    
}













}






@media all and (max-width:768px)
    
   
{
    
    
 /* ------------------------------------*/
/* ------------------------------------*/
/* --------------HEADER ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/    
    
    
    
 header
{
        
 width:100%;       
}
       
    
    
    

    
    
 
    
 /* -----------------MENU-HAMBURGER --------------*/
/* ------------------------------------*/   
    
    
 .header-menu-hamburger 
{

   margin-top: 15px; 
    
    
}
    
 .hamburger-line
    
{
 background-color: black;
  width:30px;
    height: 3px;    
    
}
    
.one
    {
    
    margin-top: 5px;  
     
    }
 .two
    {
        
     margin-top: 5px;     
    }   
 .three
    {
        
      margin-top: 5px;    
    }   
    
    
    
    
/* -----------------MENU-RSPONSIVE --------------*/
/* ------------------------------------*/    
    
.header-menu
{
  display:none;      
        
        
}
    
    
/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/ 
    
    
    
  content
{
    display:flex;
    flex-direction: row; 
    margin-top: 30px;
    height: 480px;
    width:70%;
    max-width: 960px;
    
    /*border:solid red;*/
    
}  
    
    
    

    
    
    
    
    
    
   
/* --------------CONTENT-LEFT-TITLE ---------------*/
/* ------------------------------------------------*/

.content-left-title
{
   
   align-self: flex-end;
   left: 120px;
   
   
 
    
    
  
}  
    
    
 /* --------------CONTENT-RIGHT-TEXT-BOX ---------------*/
/* ----------------------------------------------------*/



    
    
    
    
.content-right-text-box
{
    
 display: flex;
 position: relative;
 align-self: center;
 left:-80%;
top:39px;
 width:287px;
 min-width: 287px;
 height: 250px;
 min-height: 250px;
 background-color:#FFBB00;
 box-sizing: border-box;
 padding: 10px;

    
}   
    
    
 
    
    
}































