* {
margin: 0;
padding: 0;
border: 0;

text-decoration: none;
outline: 0;
}
body {
margin: 0;
padding: 0;
border: 0;

text-decoration: none;
outline: 0;
}


/*





    font-family: 'Playfair Display SC', serif;

    font-family: 'Merriweather', serif;

    font-family: 'PT Serif', serif;

    font-family: 'Oxygen', sans-serif;

    font-family: 'Fira Sans Condensed', sans-serif;

    font-family: 'Chivo', sans-serif;









*/




.container
{
    display:flex;
    flex-direction: column;
    justify-content:center;

    align-items: center;
    /*border:solid black;*/
   
    
       
}



/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/




content
{
    display:flex;
    flex-direction: row; 
    margin-top: 30px;
    height: 480px;
    width:70%;
    max-width: 960px;
    
    /*border:solid red;*/
    
}



/* ----------------------------------------------------*/
/* --------------CONTENT-LEFT-LISTA -------------------------------------*/
/* ----------------------------------------------------*/





.content-left
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:50%;  
  
  
}



/* --------------CONTENT-LEFT-LISTA --------------------*/
/* ----------------------------------------------------*/


.content-left ul
{
    z-index: 98;
  list-style: none;
  align-self: flex-start;
  padding-top: 160px;
  font-family:Playfair Display SC;
  font-size: 23px;
   
}

.content-left ul li
{
 padding-bottom: 6px;   
}








/* ----------------------------------------------------*/
/* --------------CONTENT-RIGHT ---------------------------------------------*/
/* -----------------------------------------------------*/


.content-right
{
   display: flex;
   justify-content: center;
  align-items: center;
   width:50%;  
 


}

/* --------------CONTENT-RIGHT-BOX-IMG --------------------*/
/* --------------------------------------------------------*/

.content-right-img-box
{
    position: relative;
    left:-100px;
  
    width:345px;
    height:478px;
    
}

.content-right-img
{
    
 width:345px;
    height:478px;   
}








/* --------------CONTENT-RIGHT-TEXT-BOX ---------------*/
/* ----------------------------------------------------*/


.content-right-text-box-uslugi
{
    position: relative;
   
    z-index: 98;
    left:100px;

    background-color:#FFBB00;
    
    
}


.text-box-uslugi
{
    display: flex;
  
    z-index: 99;
    align-content: center;
    font-family:Merriweather; 
    font-size: 14px;
    width:300px;
    height:250;
    box-sizing: border-box;
    padding: 10px;
     background-color:#FFBB00;
}











































/* ----------------------------------------*/
/* --------------------------------------------------------------------------*/
/* --------------RESPONSIVE -------------------------------------------------*/
/* --------------------------------------------------------------------------*/
/* ----------------------------------------*/














@media all and (max-width:538px)
{



/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/




content
{
   
    
    /*border:solid red;*/
    
}
    
   
  /* ----------------------------------------------------*/    
   /* --------------CONTENT-LEFT-MENU ---------------------------------*/
/* ----------------------------------------------------*/    
    
    
    
    
    .content-left
{
  
   
    
    
    margin-top: 200px;
    width: 360px;
    
}
    
    
    
  .content-left ul
{
 margin-left: 40px;
 padding-top: 1px;
 text-align: center;
 width:360px;
 
 font-size:20px;
} 
    
    
 .content-left ul li
 {
        
    margin-top:-5px; 
     justify-content: center;
        
        
 }
    

    
    
   
    
    
 /* ----------------------------------------------------*/    
   /* --------------CONTENT-RIGHT-TEXT-BOX ---------------------------*/
/* ----------------------------------------------------*/ 
    
    
    
    
    
    
    

    
.content-right
    {
     
     position: absolute;
        display: flex;
        justify-content: center;
     
        left:0px;
        
     width: 97%;
      
        
    }
    
    
    
    

/* --------------CONTENT-RIGHT-TEXT-BOX ---------------*/
/* ----------------------------------------------------*/


.content-right-text-box-uslugi
{
 position: absolute;
 z-index: 99;
 top:-60px;
 left: -10px;
 
 text-align: center;
width:110%;
 


 box-sizing: border-box;
 
    
    
 }
    
    
    
    
.text-box-uslugi
{
    width:98%;
    padding: 10px;
    margin-left: 1px;
 }
    
    
 .content-right-img-box
{
    
    
  
    width:345px;
    height:478px;   
    
    }
    
.content-right-img-box
{
   width:345px;
    height:478px;
    margin-left: 203px;
  opacity: 0.3;
}
   
    
    
    
 














}






@media all and (max-width:768px)
{
  
.header-menu ul
    
{
  font-size: 12px;  
    
}
    
    
/* ------------------------------------*/
/* ------------------------------------*/
/* --------------CONTENT ---------------------------------------*/
/* ------------------------------------*/
/* ------------------------------------*/ 
    
    
    
  content
{
   
    width: 99%;
    padding-left:10px;
    /*border:solid red;*/
    
}  
    
    
    

/* --------------CONTENT-LEFT-LISTA --------------------*/
/* ----------------------------------------------------*/


.content-left ul
{
    
   margin-top: -50px;
   width:70%;
   
} 
    
 .content-left ul li
{
  padding-top:15px;      
        
}
    
    
    
 .content-right-img-box
{
    
    
  
    width:345px;
    height:478px;   
    
    }
    
.content-right-img-box
{
   width:345px;
    height:478px;
    margin-left: 203px;
  opacity: 0.3;
}
    

}































